body {
  background: #333; 
}
.box {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;


  /* repeats twice */
      /* animation-iteration-count: 2; */

  /* infinite rotation */
      /* animation-iteration-count: infinite; */

  /* delays animation */
      /* animation-delay: 2s; */

  /* reverses the animation */
      /* animation-direction: reverse; */

  /* not working, suppposed to go forwards and backwards */
      /* animation-direction: alternate; */

  /* animation-timing-function: linear; */

  animation-timing-function: ease-in-out;
}





/* @keyframes myanimation {
  0% {background-color: white; left: 0px; top: 0px; border-radius: 0 0 0 0;}
  25% {background-color: yellow; left: 300px; top: 0px; border-radius: 50% 0 0 0;}
  50% {background-color: green; left: 300px; top: 300px; border-radius: 50% 50% 0 0;}
  75% {background-color: red; left: 0px; top: 300px; border-radius: 50% 50% 50% 0; background-image: url(g-d.png); background-repeat: no-repeat}
  100% {background-color: white; left: 0px; top: 0px; border-radius: 50% 50% 50% 50%;}
}
 */

@keyframes myanimation {
  0% {background-color: white; border-radius: 0 0 0 0;}
  25% {background-color: yellow; border-radius: 50% 0 0 0;}
  50% {background-color: green; border-radius: 50% 50% 0 0;}
  75% {background-color: red; border-radius: 50% 50% 50% 0;}
  100% {background-color: white; border-radius: 50% 50% 50% 50%;}
}